<section>
    <div class="row mb-5">
        <div class="card col-md-4">
            <img src="assets/man.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MATEO</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur
                    incidunt itaque alias impedit quaerat soluta amet exercitationem natus repellendus consectetur,
                    animi qui, eum atque quis placeat, esse nisi accusamus.</h6>
            </div>
        </div>
        <div class="card col-md-4">
            <img src="assets/man2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">JUAN</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur
                    incidunt itaque alias impedit quaerat soluta amet exercitationem natus repellendus consectetur,
                    animi qui, eum atque quis placeat, esse nisi accusamus.</h6>
            </div>
        </div>
        <div class="card col-md-4">
            <img src="assets/man3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">PEDRO</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur
                    incidunt itaque alias impedit quaerat soluta amet exercitationem natus repellendus consectetur,
                    animi qui, eum atque quis placeat, esse nisi accusamus.</h6>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="card col-md-4">
            <img src="assets/man4.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">LUCAS</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur
                    incidunt itaque alias impedit quaerat soluta amet exercitationem natus repellendus consectetur,
                    animi qui, eum atque quis placeat, esse nisi accusamus.</h6>
            </div>
        </div>
        <div class="card col-md-4">
            <img src="assets/man5.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">JUDAS</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur
                    incidunt itaque alias impedit quaerat soluta amet exercitationem natus repellendus consectetur,
                    animi qui, eum atque quis placeat, esse nisi accusamus.</h6>
            </div>
        </div>
        <div class="card col-md-4">
            <img src="assets/man6.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">SANTIAGO</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur
                    incidunt itaque alias impedit quaerat soluta amet exercitationem natus repellendus consectetur,
                    animi qui, eum atque quis placeat, esse nisi accusamus.</h6>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="card col-md-4">
            <img src="assets/woman.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">RUTH</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur
                    incidunt itaque alias impedit quaerat soluta amet exercitationem natus repellendus consectetur,
                    animi qui, eum atque quis placeat, esse nisi accusamus.</h6>
            </div>
        </div>
        <div class="card col-md-4">
            <img src="assets/woman2.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MARIA</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur
                    incidunt itaque alias impedit quaerat soluta amet exercitationem natus repellendus consectetur,
                    animi qui, eum atque quis placeat, esse nisi accusamus.</h6>
            </div>
        </div>
        <div class="card col-md-4">
            <img src="assets/woman3.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MARTHA</h5>
                <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consequuntur
                    incidunt itaque alias impedit quaerat soluta amet exercitationem natus repellendus consectetur,
                    animi qui, eum atque quis placeat, esse nisi accusamus.</h6>
            </div>
        </div>
    </div>
</section>