<section id="colaborador" class="padded">
    <div class="container">
      <h2>Colaborador</h2>
      <table class="table table-hover">
        <thead>
          <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Foto</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let itemColaborador of listaColaborador">
            <td>{{itemColaborador.id}}</td>
            <td>{{itemColaborador.email}}</td>
            <td>{{itemColaborador.first_name}}</td>
            <td>{{itemColaborador.last_name}}</td>
            <td><img src="{{itemColaborador.avatar}}" alt="">
            </td>
          </tr>
        </tbody>
        </table>
    </div>
  </section>